<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webview">
    <!-- Give permission for app to access the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebView">
        <activity
            android:name=".playstore"
            android:exported="true" />
        <activity
            android:name=".mapp"
            android:exported="true" />
        <activity
            android:name=".gmail"
            android:exported="true" />
        <activity
            android:name=".google"
            android:exported="true" />
        <activity
            android:name=".government"
            android:exported="true" />
        <activity
            android:name=".aboutGujarat"
            android:exported="true" />
        <activity
            android:name=".homepage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>